<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Production server</string>
			<key>Key</key>
			<string>production</string>
			<key>TrueValue</key>
			<true/>
			<key>FalseValue</key>
			<false/>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>4</string>
			<key>Key</key>
			<string>destination</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>Title</key>
			<string>Destination ID</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>RootPList</string>
</dict>
</plist>
